data/adapt_a_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_a_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_a_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_a_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_a_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Ixy_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Ixy_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Ixy_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Ixy_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Ixy_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_L_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_L_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_L_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_L_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_L_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_stopTime_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_stopTime_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_stopTime_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_stopTime_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_stopTime_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Sxy_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Sxy_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Sxy_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Sxy_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adapt_Sxy_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
._.DS_Store
.DS_Store
modules/__pycache__/funAdapt.cpython-311.pyc
data/adaptEmp_a_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_a_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_a_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_a_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_a_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Ixy_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Ixy_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Ixy_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Ixy_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Ixy_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_L_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_L_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_L_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_L_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_L_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_stopTime_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_stopTime_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_stopTime_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_stopTime_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_stopTime_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Sxy_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Sxy_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Sxy_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Sxy_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmp_Sxy_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_a_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_a_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_a_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_a_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_a_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Ixy_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Ixy_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Ixy_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Ixy_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Ixy_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_L_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_L_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_L_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_L_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_L_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_stopTime_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_stopTime_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_stopTime_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_stopTime_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_stopTime_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Sxy_Nsteps1000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Sxy_Nsteps10000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Sxy_Nsteps100000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Sxy_Nsteps1000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
data/adaptEmpCov_Sxy_Nsteps10000000_sigma1.5_theta3.0_delta0.05_Lambda0.9_NadaptMax50000_NadaptCheck5000.npy
